/* You can add global styles to this file, and also import other style files */
/* Apply dark theme to entire page */
body {
    margin: 0;
    background-color: #121212;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  